:root {
    --bg-green-full: #064635;
}

#first-content {
    background-color: var(--bg-green-full);
}

#second-content {
    height: 100vh;
    background-image: url(../images/contact/KL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Form */
#myForm {
    max-width: 40%;
    margin: auto;
    padding: 30px 50px;
    backdrop-filter: blur(10px);
}

::placeholder {
    color: #5f651f;
}

#name,
#phone {
    width: 49%;
}

input[type=text].half,
input[type=tel].half {
    width: 49%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=text].full,
input[type=tel].full {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#phone {
    margin-left: 4px;
}

#message {
    resize: none;
}

#submit input {
    background-color: #e7b025e2;
    color: white;
}

/* -------------- */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 650px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 650px;
}

.gmap_iframe {
    width: 100% !important;
    height: 650px !important;
}

@media screen and (max-width: 992px) {
    #myForm {
        max-width: 80%;
    }
}


@media screen and (max-width: 576px) {
    #myForm {
        max-width: 100%;
    }
}